@import 'flickity/dist/flickity.min.css';

section.videos {
  .carousel {
    overflow-x: hidden;
    width: 100%;
  }

  .carousel-cell {
    width: 80%;
    background: #ddd;
    margin: 0 2.5vw;
  }

  .video {
    background-color: orange;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      background-color: yellow;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
